@keyframes glowing-line {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  
  .line {
    position: absolute;
    height: 4px;
    background-color: #0328ae;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: glowing-line 3s infinite;
  }
  
  @keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
  
  .border-animation {
    animation: rotate 3s infinite;
    position: relative;
    overflow: hidden;
  }
  
  .border-animation::before {
    content: "";
    background-image: conic-gradient(
        #ff0052 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
  }

  .border-animation::after{
    content: "Animation";
    width: 190px;
    height: 190px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
  }
  