@keyframes glowing-line {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  
  .line {
    position: absolute;
    height: 4px;
    background-color: #0328ae;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: glowing-line 3s infinite;
  }
  
  @keyframes border-glow {
    0% {
      box-shadow: 0 0 0 0px #0328ae;
    }
    50% {
      box-shadow: 0 0 0 10px #0328ae;
    }
    100% {
      box-shadow: 0 0 0 0px #0328ae;
    }
  }
  
  .border-animation {
    animation: border-glow 3s infinite;
    position: relative;
    overflow: hidden;
  }
  
  .border-animation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #0328ae;
    border-radius: 20px;
    opacity: 0;
    animation: border-glow 3s infinite;
  }
  