.adaugaFact {  
      margin-top: 10px;
      margin-left: 10px;
      display: flex;
}

.uploadDocDisplay {
    flex-direction: row;
    margin-top: 10px;
    /* padding:20px ; */
    width: 500px;
    height: 200px;
}

.uploadIcon {
    color:rgb(216, 128, 233);
    cursor: pointer;
    margin-left: 170px;

}

.uploadDocument {
    background: rgba(229, 185, 225, 0.25);
    box-shadow:0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter:blur( 4px );
    -webkit-backdrop-filter:blur( 4px );
     border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      flex-direction:column;
      border: 2px dashed #5094ec;
}


.document {
    flex-direction: column;
    margin-top: 20px;    
    width: 550px;
    height: 500px;
}


.showProgressDisplayResult {
    flex-direction: row;
  
    margin-left: 100px;
}

.showProgress {
    flex:column;
    margin-left: 10px;
    margin-top: 65px;
}

.displayResult { 
    flex:column;
    margin-top: 100px;
    margin-left: 10px;
    border:3px dashed #000000;
    width: 300px;
    height: 300px;

}


